/* order as the tags first appear in the index.html */

html {
    font-size: 16px;
    font-family: "Calibri Light", 'Calibri', sans-serif;
}

.header {
    background-color: #FF;
    /* white */
    margin: 0;
    padding: .5rem 0 0 0;
}

.header img {
    width: 60px;
    height: 60px;
}

.header span {
    position: absolute;
    right: 1rem;
}

.header h1 {
    font-size: 3rem;
    color: #80808;
    /* white */
    margin: 2rem 5.5rem 0 1.5rem;
    padding: 0;
}

.header h3 {
    font-size: 1.5rem;
    color: #80808;
    /* gray */
    margin: 0 5rem 1rem 1.5rem;
    padding: 0;
}

.main-nav ul {
    background: #A9A9A9;
    /* gray */
    font-size: 1rem;
    margin: 0;
    padding: .5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
    list-style: none;
}

.main-nav a {
    color: #000;
    /* red */
    margin: 0 1rem;
}

.link {
    color: #FF0000;
    /* red */
}

.container {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }


/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

/* split the min-width between the article text and the aside */

.article {
    margin: 0 1rem;
    min-width: 50%;
}

.aside {
    margin: 1rem 1rem;
    text-align: left;
    border: 1px solid #FFF;
    min-width: 30%;
}

.aside img {
    max-width: 80%;
    max-height: 80%;
    padding: 0;
    width: 260px;
    height: 260px;
    align-self: center;
}

.aside h1 {
    font-size: 2.25rem;
    margin: .5rem;
}

.aside h2 {
    font-size: 2rem;
    margin: .5rem;
}

.aside h3 {
    font-size: 1.75rem;
    margin: .5rem;
}

.aside h4 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #FFF;
    margin: 1rem 0 0 0;
    padding: .5rem 0 .5rem 0;
}

.footer p {
    color: #000;
    margin: 1rem;
    line-height: .5rem;
}

.footer div.footer-center-diver {
    display: block;
    text-align: center;
    color: #000;
    background-color: #A9A9A9;
}

.footer div.policy-title {
    display: block;
    color: #000;
    text-align: center;
    background-color: #A9A9A9;
}

.table td {
    cellspacing: 0;
    cellpadding: 4;
    border: 4px #808080;
    border-collapse: collapse;
    bordercolor: #808080;
    width: 527
}
